body, h1, h2, h3, h4, h5, h6, p {font-family: "Roboto", sans-serif;}

html, body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(76,175,80, 0.75);
  z-index: 1000;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

pre {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  font-size: 15px;
  overflow: hidden;
}

.bgimg1 {
  position: relative;
  background-color: rgba(76,175,80, 1.0);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center; 
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgimg2 {
  position: relative;
  background-color: rgba(76,175,80, 1.0);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center; 
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titletext {
  font-family: "monospace", sans-serif;
  text-align: center;
  font-size: 3rem;         
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;          
  padding: 20px 40px; 
}

.profile-pic {
  position: absolute;
  bottom: -50px;            
  left: 50%;
  transform: translateX(-50%);
  width: 100px;               
  height: 100px;
  border-radius: 50%;        
  border: 5px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about {
  padding-top: 35px;
}

.centered {
  text-align: center;
  margin: auto;
}

.leftwards {
  position: relative;
  text-align: left;
}

.paragraph {
  padding-left: 250px; 
  padding-right: 250px; 
  text-align: left;
  line-height: 1.5;
}

.guideText p {
  padding-left: 250px; 
  padding-right: 250px; 
  text-align: left;
  line-height: 1.5;
}

.guideText h1 {
  padding-top: 35px;
}

.links {
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-top: 75px;
  gap: 20px;
  width: 100%;  
}

.footer {
  margin-top: 25px;
  background-color: rgba(76,175,80, 1.0);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "monospace", sans-serif;
  color: white;
}

.project {
  padding-top: 50px;
  display: inline-flex;
  gap: 100px;
}

.shadow {
  border-radius: 15px; 
  margin: 20px 0; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.shadowBorder {
  border: 3px solid black; 
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.outerUl {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 30px;
  margin-right: 60px;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(76,175,80, 0.75);
  min-width: 500px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  padding: 0;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  border-radius: 5px;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: rgba(68,68,68,0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tmux-table {
  width: fit-content;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
}

.tmux-table th,
.tmux-table td {
  border: 1px solid #ddd;
  padding: 12px;
  vertical-align: center;
}

.tmux-table th {
  background-color: rgba(76,175,80, 1);
  color: #fff;
  text-align: left;
}